.card {
    max-width: 400px;
    flex: 1 1 auto;
    margin-left: 10px;
    // background-color: #b7bfbf;
    // color: #fff;
  }

.title {
  font-weight: 500;
}

.container {
  margin: 20px 20px 20px 20px;
  display: flex;
}